URL=
PORT=5000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=pipos_master

DB_BACKUP_HOST=localhost
DB_BACKUP_PORT=3306
DB_BACKUP_USER=root
DB_BACKUP_PASS=

TRANSACTION_FEE=150
JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRE=1d
BCRYPT_SALT_ROUNDS=10
MIDTRANS_MERCHAN_ID=
MIDTRANS_CLIENT_KEY=
MIDTRANS_SERVER_KEY=
MIDTRANS_IS_PRODUCTION=false

DIGIFLAZZ_USERNAME=
DIGIFLAZZ_API_KEY=
DIGIFLAZZ_URL=https://api.digiflazz.com
DIGIFLAZZ_WEBHOOK_SECRET=""